
/* top portion */
.top-part{
    min-height: 450px;
    max-height: 100%;
    
    background-color: #f9b234;
}
.top-part-2{


    display: flex;
    min-height: 450px;
    max-height: 100%;
    text-align: start;
    justify-content: center;
    flex-direction: column;

}
.top-part-2 h2{
    font-size: 4rem;
    font-weight: 900;
    
}
.top-part-2 i{
  margin-left: 20px;
  
  cursor: pointer;
  padding: 5px;
  
}

.top-part-2 p{
    font-weight: 900;
   
    letter-spacing: 4px;
}
.top-part-1{
    position: relative;
    height: 450px;
}
.top-part-1-2{
    width: 300px;
    height: 400px;
   
    position: absolute;
    top: 150px;
    left: 200px;
    background: url(https://imagetolink.com/ib/iT4Dg44cYi.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
    box-shadow:  0 0 50px rgba(0, 0, 0, 0.507);

}
.top-part-1-3{
 
  width: 200px;
  height: 200px;
  background-color: #E94057;
  position: absolute;
  top: 100px;
    left: 100px;
  z-index: 1;
  box-shadow:  0 0 50px rgba(0, 0, 0, 0.507);
  border-radius: 3rem;
  background-image: url(https://imagetolink.com/ib/r5V3u8L2LS.jpeg);
  background-position: center;
  background-size: cover;
  
 

}


.detail-part img{
    width: 300px;
    height: 300px;
    
}
.detail-part-1{
   padding-top: 140px;
   
   
}

.detail-part-1 p{
 
    padding: 50px;
    border-radius: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
    
    
    
}
.about{
  color: white;
}
.detail-part-1-2{
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.detail-part h3{
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 5px;
  
   
}
.detail-part p{
    margin-top: 60px;
    color: rgb(255, 255, 255);
    background-color: #121212;
    
}

.skill-part{
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.carousel-skill img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.project{
   
  background-color: #121212;
    padding: 20px;
    border-radius: 2rem;
  
    
}
.project img{
    width: 100%;
    height: 150px;
    border-radius: 2rem;
    border: none;
}
.project:hover{
    transform: scale(105%);
    transition: 0.5s ease;
    cursor: pointer;
}
.proj-name{
    position: absolute;
    top: 200;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #121212;
    border-radius: 2rem;
    display: none;
    
    
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.project:hover .proj-name{
    display: flex;
    top: 0;
    outline: 3px solid rgb(255, 255, 255);
  
}
.proj-name h5{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    
}
.proj-name span{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

/* card for writing services */
.ag-format-container {
   width: 350px;
    margin: 0 auto;
    
  }

  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
 
    padding: 50px 0;
  }
  .ag-courses_item {
    /* -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px); */
   width: 100%;
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #000000;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
   
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  /* .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  } */
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  .magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M579.5 647.5Q330 795 330 500t249.5-147.5q249.5 147.5 0 295Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22b%22 patternUnits=%22userSpaceOnUse%22 width=%22100%25%22 height=%22100%25%22%3E%3Cimage href=%22data:image%2Fjpeg;base64%2C%2F9j%2F4AAQSkZJRgABAQAAAQABAAD%2F4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb%2F2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD%2F2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD%2FwAARCAEZAfQDASIAAhEBAxEB%2F8QAHQAAAQUBAQEBAAAAAAAAAAAAAgABAwQFBgcICf%2FEAE0QAAIBAwIEAwYDBAcECAQHAAECAwAEEQUhBhIxQRNRYQcUIjJxgUKRoSNSscEVM2Jy0eHwCBYkgjRDU3OSorLxFzZEYzU3dYOzwuL%2FxAAcAQACAwEBAQEAAAAAAAAAAAAAAQIDBAUGBwj%2FxAA6EQABAwMCAwYEBQMEAgMAAAABAAIRAwQhEjEFQVETImFxgfAGkaHBFBUysdEzUuEjNHLxB4JCYqL%2F2gAMAwEAAhEDEQA%2FAPy0pUqVMIT04FNT%2FwAqkhEtFQjNFQhKnFLFIGhCelSpU0JUqVKmEJU4FNTihCKlSpYoQjWpFqNexox1qQSKlHlRrtQL9akApFRRDANSChG9GNqAhSDNGKaJQ7qhPzEDNagstOACmS4DdyApqwJFZ6ipABV46Xan+r1AD0aMj9ac6RPnlSe3kPksgyacKBVHamIzVx9K1CM%2FFaufpv8AwqvJBNCcSwun95SKElGRt1qpcM3MCdgKt1FOmYyAKREhSaYKoNyqwYjONwRsRUchVzgkkYxkjek6OOqmoizDzqoNaDIVpdO6jaMg5jiJx+8RSKSEHKnJ37U5nI6qDT+8KeoIqxlQ09iiFCY5SMclHDGy55lxmjEsZ%2FEKIEHoQage8ZRJKu2eopaQNEyOxLZXlFQXl093GyGIKD5nJqE0gR+9S0NmVPtHadKpgAZB6Gm6EEH0qYwsznlwF86NYYY98ZI7mohpSKa2bYrg+YNSSKrryv0pc3kKAkk71MBRjqhEca9EH3oht0pUqeApKtOcyY8hQrkDKsQfSkxzKT60SrnlGAapJkpLQ99N5GsV2+JFGEnIySPJvMevUVXHOlykEqAZIB37Z6%2FSgKsoZOXLqPmBofHIHKeZlUYGe1W6QBhWmtry%2FJ69fP8AlTl3uXeYoVVmJ5m2Xr50f%2FCRbktO3kPhX%2FE%2FpVFpHmZQ7E9hk9BVkCoNBOEzUEyBJ6n+NvnKke5mdeQERp+6gwD%2FAI1KCnhqvJglfmGx6VXpF2Axnah9ORhDaxmXGVJHKI05VU5HWnSVizABVPXc1EssgHKDnPapT%2FwoIYAzHt2T%2FOqSwhWNOoTyCjuSIZQSwaXGwxsvqfWqjsDgknJO+9GQJJSzMc53NNIigkhsgE1ICMKp7tW2yHlbOeuKZh6USAkBi4GdqZyASM5IqUKohXo1AjQZ+Ub1O0sUow6k4PnWb71J2Vab3qXtipB8JytdJ0jAVF2O+5oZ5PFXBYdc7Vle9S+Qp%2Fep%2FIflUu1JEFSa+FfWJAo2znfelVA3E53x+lKo6lLWFBSpUqiFUlRL60NEKkhGBtSBpA7UqEJ+2acUvSkKEJ6VKlTCEqVKlTQlRAetDTjFCEQFH33oRUgG9NIlNgUa0DOq9TvTftn+Uco8z1pzCSmMiR%2FE7YpJeQnYkj6ioDaOTnmJPmRT+43JPwR8%2Ff4d6gSUpbzKvxyI+ORgfoakAzWPyOpwykfUVKk9xGfgkJ9DvTDk4W1F8MiHyYGg4gk8C7RQArOg+MDJAB6VShvpvxoGGe22K0+INNv76M6ja2sksNso8d0GfDB6E47bHfpRUc0MkqdIO1w3fK7mX2VanF7IT7V7Liqxu7QXSIbO1Z3ktwzBGWYuAVZWMY5cMMHmBw2T50ur37ycrSq2dgGUdfsK1eE+Or7h7SdY4bld5dI122aG5tzuFlAzFMvkytj6jI8iOa3cnAyfKsnDKd1TdVZdO1DVLTEd0gQD4gznngrXUFN2ktHmtddZuba4bCcpXbKkqavW%2FFVzGSTJMCfMhx%2F5qwTdzyRCGRgyg5BKgsPv1phmuw1mMqt9Km491dRHxFbujCe3tZWb8UkHxD7jFTLd6FNGEk0zDk7vDcEfkDmuVXcCpkORUuxB5qvsGldM+n8NXBVYdQvbX94zwrIP%2FKQahfhS3uC3uWtadMOwdzEx+zD+dY0bMp+FmH0NTo7Fhk5pG2J2R+HdyKlueCNajQyDS5XU9DFiTP05SaxrrR7i1fkmjkib92RSp%2FWurgiubWyGpQXzRl35AsbFWzv1I+lXYOKtehAje8FzF3SdFkB+pYZ%2FWqRQc+dIlI0KjeS88ks5l7Z+lV3hlQ5AavTn1jQroH+lOE9PkJ%2FFbM1uf%2FL1NR%2F0R7PtQIVL3VdLcjLNLGs8Q9AF+Kq3US3dVEkYK8z8WVepP3ohcN3ANehS+zeG9HPoXE+j3%2FiHEULSmCdz5cjdPuaxdU9n3EumMwvNCugFGS8aeKgHqyZAqvS4JyuZW5HcEUYnjO%2FN+dG1gOzYqJrKQdN6UuCcqQMD0Ip6qmCZfwmm5pF7kUauqcq0TimLVXEz98GiE47rT1BEpuRh+E%2FalzAUYmQ96fmRtsg1GBySQBmGd+o3oW6dak8ND02+lMYj1DZ+tEFCGEZl+lWahiUq2WAopHZRlRnepNwMoR5xQlhkDO57VXd5OhJH6VMjpFhoyObpnuPWjVOybQCYKsNNHYjA+K4PU9o%2F8%2F4VAr+IOY9c71XcDqKkh2yp+tQbg5U3v1YGAPfzQiQqWI7mmPMy83bOKnKqeqim8NCMY2p6Sq1FkkY7KKZsMAQRn6VM8aKhxUMY3zSMjdNSBFHapREMZoB1qXoBUwISQ8iilyjypGlQhNgUqVKhCqUqVKqkJxT4oaMH9amhONxRLQinB36UIR0qbOaehCVKlSphCVKlSpoTjrRY8hRRRySkLGhY+VbOncK6rqLqiwSEuQFRFJYk7DA+tRfUbTEuMKmrXp0BqqEALFB3AAJJ7CrUWn3cwyV5F%2FWvQNP9luvLCs50iW3jKhxNdYhQqVVgQXxtyurfQg1u2fs5tlDJe8RaXHMpI93hZ7iQ4DZx4SleqcuSwGWU9Dkc6rxe1p41T5f4XFuPiG0pkhjpK8ug0hs45QPVqtppDA7ftCf3RXscHAfB9ncJDz6lqbyEIqIEt8uXwBn9pkEYwNjl8fh3m1XVuGfZ1iHVOEdIiuxyusczNc3OQ0Zw0RYoD+xcEOgH7aQEfJy838%2FbVeGUGlxOw2%2FfP0XFPxMbioKds0ucdh1+68dsOHr%2FAFS8Wx0+1aWVjjA2A9STsB6nYVDqenyaDdPZ6ogjuImIMeQx2OO2xHr0q%2FqHF2q6rK8Gk2620ZJHOqDxOUjlxnouwHQZyTvWedHJZrrUbhpZZDzNkkliepJ6k13qAruOqoABG25nzXpbVl086q8NbG25nz2+iz7i6kvjyQQciYx1z+p6faovdFjGXOT5DpW1b2F3fzG1021eRgMkIpOAO59K6Lhb2e3+vzZSESImWllfKwRKMczO3kMgmp1q1O3YX1DACvub22sKZdVcAAvPpHx8OMAV3nCuujSZfFa5aJLmAKRzEK3Q4bsevetP2y8D+zvhW20y34K4om1vVBG76u8dqYbOJzy8scHMS74+PLnAI5cAb1wcnjXGnWkdsyh3UKpPmFz+uMVlFWlxO0LgCGu6iDg9D81v+HeLsrVaV9Qad8AiDzGx68lDdWEJ1W7sVynK58HP7o+XP1XBzVB45YXaJtnibsehooRcW94k0wcMrANzDf1H5VduLN7nUHWKSMO4V0Vmxz5HYnb8zW621SGzOF2KrG1mFzGw7Vt4HI9eSqZ8UhmVQRsSB1+ta+u6dbadPFbpIhmWCJ5QoIQl0DDGe4DDPr+jHhvVBZz6lFamSC2ZROY2DmHmzylsdAcEZ6Z69RVK7lnnmMlyW8QhRgjGwAA%2FQCt+kyCouYaNMio3vGIJ6Zn6%2FsVEpHTHWpUqAHv0x2qVWxvV4CyTBW7w8t5bzSarb2dncraRuXjuo1kjIKEHKnqQCSD2IB6iqAYMxIAGew6U9lqVzZJMkDgLcRmJ9uqnrUCsCetV02OFRz3c4jy8fWVcS2BC0Eun8EQMTyBuYfXGKNZl65zVOJXkV2CMwjXmYgZ5RkDJ8hkgfcUg+K1Mc1uyckZV0vz77VPe6eLMlZL62LD8KMSf4VmeMR02oWfO+etN7tRGcIJBEFOznmJyDVqz4g1bTh4dlqV1Cgbm5ElPLnz5elZ7P3qItvVLqdJ3JZnUmHkuobje6vDjWbHTdTx0NzbLzr9CMAUWfZ%2FqIAuNLv8AS3P4rWcSrn1D9voK5NiQa1IodKgto7i8ug4cZ5IiecnuKg2y7QkNMeaBaF4JadusLYXgLS9TI%2F3f4x06dm+WG8Bt3PoM5yao6p7MeNdNUyTcO3E8YHN4lsBOvL5%2FBkgfXFc89zIkjJG%2FiJn4SRjb1rQ0rjPXdEZTpmq3loFbm5YpTyE+q9D9xWV1AsOR8lkLHDKxprIRuUljZHGxDDBFQNaL+E16ZB7YdTvI0i4n0bR9ehU4LXloolC%2FuqwGF+vKaJLv2L69yLqGh6vw9MWIL2Vx48WD0ZucFvsqiqjTaokuG4XlrWrjoajMTjqtdFxLp+iaXqjWeg642q2yoG8c2xh+I78oBJJwMb7b52rKqosCcqj8a+YpxK475q4yg9qDwUI3G9LSeScqATHuKdpUZSNxRtbLjaga3I6GlDgmhYuRvimGQML1owD070XyjPlSGd0%2FFRKOzA70SEhwCfSiIB3xk+dLB67E9amGHcIUlKoxOvcEUQkQ%2FiokJJpT8PL50yrgYFIkM+3ajTrS3KE4Qg5NGR5U+aRPemkgO1NTk01CaVKlSoQqlKlSqpCVEOmaGnBxUkI896fvQ0WdqaE4oqEUQoQlSpwCc4HTc10PDdjotxMYdUvWWQjaLw8D6Bhv9elSaJMJEwuf5T32piAOld7Z+zSfXp5YdCvrQMillF1cxwrJv8qs7BSfTJJ8qo3fB2p8I38lrxrw1f2%2FNH8AeBwQeYfEFJQsMZGc43zvUnscwaiFA1ABO6yeGeI34cvfel02yvRhh4d1FzqMqRnYjcZyPUCu80725azbo8JkeyVgoT3FEgVGHgHnKxhOY81tC4ycc6cxySTXn2uT6LNNCujWMlskUXJKZGJM0nMx5+Uk8mxVeXJ+XOd6zepwB1rDWs6F33qrc+%2Ff7rDccNtr%2Fv12Z+vv2V6SvEH9LPHFb61FeMw5VjnQxvgdgR3xtVq246HD8AsZLeGMDc8u7tvvuvznr1x03Neb2OlXmoSCK2geQnsoz+tdfpXAXhhZdTfy%2FZqf4mq3cKt6jdDhI99FlfwG1eND8t6f9QPor7e0jiW5nlj4WiezMqvH7wwV7jw2GCvPgBAVODygZ386oJwzPPK+oa7eSTTysXkLOWd2O5LE7k10tvbQWgW10+1wzEIgVcsxOwHqa9G9nfsI1vj2a6fUJ5LNLONZ3gCAvIpzjfOADjGd8d60Ure2sG9wAfurNNhwWmXABv7nkPHf0XkWmaLf6teppPD2lS3E7%2FLHCmTjzJ7AeZ2FeqcC%2FwCzqnE8M39M6+qXyIWNnbrkxdsuxxnfsu39o068Uxezu+m03hjUP6NmtJBzpcWqSGU9QS2N9mO5ya5WX2ht4khubSF+UEJJgsB1xucem2PvWavWunu7kNb8yffr5rlXV7xC6MW8U2dd3H7D0nzXWat7FNY4N1SwgtdY0S8tlmRMuzRSTEkZVsAjvjAPnXF+0zWv93dUl4d0u%2FMkEGVKxjw0R%2FlYBQT3XqdyMVRfibWeOdWxNqNwEslMjNzZlaMZblU9jhcDby64rm+NrWK31yf3ORpbORvEtpGGC0TboT5HBGR2ORUGsNSu3tzJAPL3nKx0bdz71n4twc4NOI8RBnr%2FAJWPdXb3CuWYkt1HnV%2FgjQJOJ7zTNGjeVJJ5iqtEnO4K8x2XudulZEiMkZdUOBjmP+uldJ7P+Jrrgy9teJrGQxzafcSFWXf5gQRjvs3Toc1quWvFtUNv+rSY84x9V7jggosu6Wv9Gps+UifovojW%2FwDZ4kt+HP8Aei+02CK7tLESAyuiiUiPbJJ2OcADbfbpXy%2Frmke5NYSWV0JoLiMKkw23ycjzGK+xLL2oz+2jhp43U2Oq6dbhpdLU%2FAcKQHQ%2Fi2G+d1O3TBr5Em5beeSy1Vpo1nVmYAbQSkYw4wTjIUkDfZfKvL%2FDfF+J3DHUOItDX0zsB19TO2CML6d8SAVi06AGnZwxO2%2Fyz0+aucL8S6hwDrsqnKe9Wz20%2FjoQOV1wrlT1CthvXGO9ctNNJOxupy7eK5JkO5ZtifqdwfvQahe3V54fvB5lhHJET1VOy58h2+tQqcLysRjGQfWve0ahc0at14i5ujUAognQ0kieUx%2FCl5CxJQZA3OB0Hr5VIUCA5dSfIb%2Fr0qtzb7dKMGtbVjlTq1GDUIPnRAmpwpDC0LXUryzgubW2uGjjvEWOdV%2F6xAwYKfTmUHHmBV%2Fh7Q5NevDFJeQWNrGOae8uNooR2LY3OTsAMk9gaww1H4rlBHznlByFzsD51TUpuLSKZ0k84+vifNT1dVJL8DleYHB6jofpQrIARzAlc7ig58etAWwdjmrckQUiQtzWU4auo1vOHpLm1YAeLY3bBypxuY5QAGHowUjO2awlDs3KASewxvQljnc0hIyMGUkEbgjzqulT7JumSR45Pz5+ufFVtHVbemWKPbT217bGIzDEUzrjlYfy6fnWDcB4ZGjdcMhKkHse9a8uuGS3jATLqMNnpnz%2FACxWNczPPIZZDlm6mr6paAA1dC8fQ7JjKRkjn4HOfIqN5mKhAAB3x3pha3DDnEMhXzCnFATUkMsoYBHKv0Ug4JHlWSo8rn09L3Q+Vr2%2FDF9qFis8OIwAcCTI5jnt%2Fn51mtpuoadOUvIHjXGxO6k+h6GtKFtbntiqmVo03BAOeuDgj7VTu1ljkMc0kjEHq7E1TWq03gANIPn%2FAIXW4ha2zbUVGMcCAMnY+n8FUs8zu3mx%2FTb+VKhjyUB89%2Fzp8HvWbdedT0ulID1pUwhIjPSmI286ekehoQoSg5ubtTPtjuD3oixG46%2FSq7OQSKpcMyrJxCMv5ffahB6bjFBzHzpqYcQoowmT1pGJqKP5amXcYpgAoUaLyjepE23p9u9LbpUgIQnycDFNn1pU1CEqVKmoQlkUqRyelKhCq0qVKqkJU4pqVSQjG21ED2qMbUYpoRCi3oKL6UIU1rgzoGOATjOO%2Fb9cVtaZdS6RdB4FSf40MsT55ZwrhhGcEEKSBzYIOM771gA43HatGWTnjWYAnxBggdc9wPr%2FAAFTaYSK7bh4DUntWXxLmUmP3iOyJWZl8R1KRqcFiwQbgEZdBuTy11mm8W3dm+tJw%2FxT7vpVmwvbPStaVZBeREHKNHhoXlCFCCyYcZIwQFPkMdwD8ZfDA8wddsEdx6KNh61pDiLVWhSzuLxrmKJWWOK5JkWPMaJtncBI4oum2Y4xghQKkSZkEg++W33VD6WoyD78tvut%2FiDUuHNfaOTUNItdHmWEGRobcosp+ZXIBwpYEfKir0271Bo%2FBujPqFquo3EiWt6M2syENDcP+4HB2OMbHuGGxGKwNY1DTNQDTRaUbJ%2FF51ijlLwqpaRsEPlvhQxKMsflJJJba1pvEin3iw1O2jTTbgmS4hjyOSYuMPCv4CoZV5V2ITzAxIuBKtaIC9Qi0qz02LwLC3SNB37mq9wp2Pp+VVND1W58RNG1O4WWYx+JaXI+W7iHcf2h3HXvUur61pulofeZFLn8A3NCagj54byC88NnWCVZCA3KWAIOM4OPyNetQ%2F7SOs2OpWC8KWdpJcCJ45g%2FwZjQ5zK3Ny45efPTIPevnDXeNrm7Bt7QCOIdOXr9zVXgrUFj4lsvfLjw4JbhFnYnA8Jjyvn05SayXQbpNQCXNBj1G3l4LncRsqdwztXNlzQY9RBHkV0XEWvX2r6zdXmq5S5kY+IApAUjbH26Vje8XfNssdynbBwf12qXi64uLjXLyS4RomuStw6kEYLqHxg%2F3qwkZ425kdlI7qcVCmO1YKjtyAUqFv2lNrzzAXb8IahpllrUTS289s1x+xlDJsynrjfBx9qg4l4f1jh6%2FfRrud7u0twrW8vINkccwHU8vc4z5nvWVoPFE9hdRm+jS6syw8ZCgLcmd9jsdvP9K914s4y4O0rQrSyteG4ZP6XtFuk1CeRp5JMPlkHP8uByHJySGxt0rjXtxXs67QymXB3iOXPOcCcZ%2FjynFLm64deMbTpF4fjBHLnJyCATjMjyXhMtkjHni5gmeblIB29fOtWXT49CDtahBFI8V7CJT8KBlU8pO+QrAjPpQX2o2txczTW0YTmyURen5VVk1BdWs%2FcnY8tvaLbl%2FXmdyPtzgfau7Y1C6m7Vgr0vB61ZtdlTaI%2Fldz7JdW4gn1qfVbbxLmC0RQTCWEfOMbZYZ3379M%2Ffrdb9kOjcVX68Qwy3MFhfXRa6eFfEWJ15lZR15cnB7jsOlcRpHEtlwZZiPSYWlmdDFBFghZD3ZmI3APl1P6e8ew7jFOHOELaO90h7wT3pkkhhjLvE7kheU45iCZF2PQb75zXjfiq9qWNuyvYmXzBz+of45Tznqv0pUpWptKdpXcHvHedOWgkzE9COUzHgV59xJ%2Fsm69qPDN1xdwmYPdrBAPcZ2dJpvixmLmGGJzn5gOoHYV86XGjalb3NzbSWFwslqSJ1MbAw4ODzjHw77b99q+87LS5PaRr1%2FpHCnFEFlw5qVrMZUkfEi3TgcscQz83MM5B2BIIyoFeCe3HQxodrJww7zxXsM0cksboZHuAFKqzSs2cADYnOcqBsNsPwv8T3NSubO6cHOMECCC0H+7qZ%2FwAlfNuP2tHti+i2B9D5dPcBeAIEdWRQ3MBlcd%2FPP2z+VMpzVpraUTj3mE5DbuD1HfPn9f41VeNopjExGQ3LkHIz%2FhX1OlWDl5eCN1IGqzp72C3sDanHO9oJF8dYHCyGPPxBSQQGxnBIIq2uhWwhknfWrZ1iXmfwVZiBkDowUncgZ6b9azJ4xDIVVy6ZPKxGMj6dqtbUbVBaD9kagRC9Xg4I4Hu+Hl%2Foe7utVvitvI00SEBGk6RNylgpzhcsBhm3%2FCDzftNtdK0vV4NH0zQrbTxbRF3dJmkkm5m258sQuANgMnckkgjEfAHGjaDKNHuoI2sb2dTJLzFXhJKgurAjGOUHIwdutYfFF%2FJe69eubuW4ijnkjgaSbxCIw55QGycjcnbrknvXItLe5p3pFV5c0SRJ3mBygYziPELk29Gu26PaOJaJIk9YHKB6Qs7Ips0PNTZ713ZXYwnJp4YpLmZLeIZeVgijzJO1AWpg7IwdCQV3BBwRSUCSRhMXx0rX4Z0mz1m4uYrx5FEEBnHKwGQGAOdvI5+xrFJOM0o554SxhldC6lG5TjKnqD6VTUkiAqLhr6lMtY6D1WlEunx3bXEcfiwqT4cLEgsOgyazLrwhOxt1dY87Buq+n26Z%2FhTx+Jtg10GgcNLxG8kYukikjXnIcdR5jzq1tN9yBRpjK6tpa1b7RbUGy7ltJ9SrPA2sx218UubuGGN1KusxwjnsfQ+tN7Qb3TrnVA2lnmijtVUtkHmc5JOR9R+VZF%2FoF1YyMJYZVWM4JAyD9DVG5jeNDFKhjfmCsrDBU53BHnWOs5zafZuGx9V1L%2Fit3R4X+U12QNQMmZxy8MqNRyqFz02p8Z70qQrOvJpGmp9qY0JwlTE7U9MaikoytQSoQc+dWSKFgDSIlSVYIx7UQj86l5TT8oqOlCADFGtPy4FKpQhKkaVKhCVKlSoQlTGkTTUISpU1KhCr0qVKqkJUqVPUghIUQoR9aIGmhF9KempxQhFVu1bngkhOSV+JcHc+Y%2F151TFS28nhTK2ds4NMGEKVG22I8tum3l6D+NES2VwM9BynvvkL9zufShdeSVkx32z3HYfQUTL8Gcnpn1wf%2FwCzdPpTSRMeYZzz53%2Fvb%2FzP6ChWUoyyIcOCCrd852P3bJ+wpi23xbYznHbscfQbCo2BBIIx5jy23H2G31NEoV1NavksH0xJP2YcXMLE%2FHHIDnmQ%2FhyCMgVWuNQur0+JPKWLdd+tQFsOrkDIO%2F8AP+I%2FKhQcvMn7polNFU1hdSWV9DdwsVeGRXUjqCDkYqGhBIORsRUSJ3ScA4QV1WuzR32oDVJYo7OK8JKxR5IjXAwT5nfc+eaxndY2dEk5l5iFbGMjzquzvJuzlsDAyegpKhJ389qGMDGho2CopU+xaGg4GPfNGHZTseldfxHqVxdcJ8POxbFr4kSA9hyqD%2F6RWVZaLa28QvdclMEPVYh%2FWP8A4fxo+IOJYdTht7WG3WC0tVKQRDcjPUn12FZagFeqzSJ0k59CIXPrtFzXpljZ0kknlsRHjusRpZJmOCSfStDS72HkFmkHJKCWeRWOGBwAAPt+vasqa5ztGAq+Q7%2FXzp9JfF23qh%2FiK2thmAukymBBXsOk6HYa%2FpY1rTb06m1lFn4lBaGQjmCsmcbkfMN+vcYHqvsS1QcMcK8Q3HE2rz+73vPbQIY+V1mkXlZxnBynOHGMY5TjO4ryr2C6Xo2rcXNpg1xbMXNs0csZVuXnyAM9BjmI77Zz2xXccbeyT2g6jqtxpkemuyOUEckEvPanqMqeo+VdiuTivmXHX0Lis%2Fhty8MGHScGJ5Tj5cl9+YG3liy9osb2hBENJION9zyEQTMr0trrRPY9rsHEL6JNeaNrMkc8oXMkUU4GeaPlkVRuT1B+mwx6rr%2Fsp9kfHU9lxJr9xekSZEEN9cPGWXGcGUZkaPfOS2Bk4wSc+UcD8KcWcP29jZ8Rv4dpMEW4ilYeHPtjIRhzFgc4bAwR36H0nUrDR+Kr6x1O141gu44pStnbNZBknVAoHxgZ6hs4wPi9N%2Fml%2FVdTuGOpVnBwBBqNJMjkIAMHxnZea4hw5zGO1N8QMCOvmqd5%2Fsu+xlLLU+Ihw9HeyLC7WWmx30yQeIPkRn5yxJIC55gBzEkV8We2fgu40HiCLVVs4rZLwgSxwxCKOOZdmCoowo6bV+iGoa9w%2FrvuvDHDN3oyX%2FIeaa6ilXAGG5fgQgllOBlupHU7V5v7XfYDY8SWL2mrcSQPfzj32ZoIldlkJ6hcjAGSOYjcnPpXe+D%2FAItr2FyPzKq46tg7USG9QM48dzzXz7iGik4luwX56WM2JfEkbCFWR+%2FVTjHrsMeooH+eSJsbMf8Albp%2FKuq1z2Z8SaLO5itxfWwdSWgyXGDt8HXOD2ziudt9G1XUL5bWxspZbgnkdVGyEEKSxOyjcZJ2Gd6++W95RrDWxwhc7tG7yqBJU4NPz+tdVrHs%2FwBbsdKXVOWOYxoHnSEljECM77b43BxnGDuRvXPx6Pfy6YdWEQFv4phUk4LsF5m5ex5QRn6+hxspXVOqJaUMuabxIPgq3N6im5vWlEvNKqOCAcZ+lTyKfEzISVHw9OpFaW95W6lBudwM0wVmOAN66DSY5dH1WCS8hSS2mGGPKCkkbEDO%2FlkGg1bSLmzv5Y4o2eNpSsRQZDAnb+VdccJe+3FZskzBEZHQ+R+yTXSYWFNE0Tcr+WdqmsbKW9uI7a3QvJKwRFA6sTgCul1Hgu8j0uG+a4t1dlyYnkVCPoenUHY%2FnU2iWurwJbWsFncKDiRpFjPwqd8g%2FwA630PhqubnsrgFogHad4x725hb6do7tR2gOkxtzWgfZtqOmwQ3KXlsrgCSR25uTBGRg46Hf%2FW1XdKZLe4trmO1jZ5W5A0YDgdjuO2P5V0k%2FEctnokmjX1qbqWSNnwMq2ep+LcbVz0sEPC8ax2l1EJIxzqGbBlyNzj1H+FekvuD2%2FC3CtQENAEzuD%2FJAJ339F9D%2FD2lnVYbEkNGXdWnGM4J8iun1bgJTff7x2fgTMiiWOJjjHw9T0ye9eHancyXl69zL888zyt9Tkn+NekcY8Wao+mxQWs7KsbGKeIdUPKMZ8xjofKvMJt5hnsufzP+VeK+KalmajGWgIOS4cpMQRz6gztC4vx5fWta5ZQs2aQJc4%2F3OMZ9Mj+E1IbimpxmvKrwASwKRpzTGhMoTTE0RoT51EoCY5oaftimpJpU9NT47mhCalT01CEqVKlQhKmNPTGhCYmmpz9KahCVKlSoQq9KlSqpCVKlSphCVEDQ0S00IwSD0pCl1FIU0IhnvT02fOnoQrMjiSOOXqccjZ7kUSlmHMH3XLZ8u3N9ewqKDLK8XmMj60kdk+IH5TzZPb+0f5CnKS6+39l%2FFl1YQalZWsU1rczRwQTLKvhsXyIzzE4ALBlJOMOOVsHauY1Cyn0y%2FuNOuQomtJWgkAbIDKxGMjrkgmur9mnHkPBmsPLqltNeadLbTW%2Fu5%2FaCJpOX9oIyQrHKqSMjIGMis32gwmLiy+k8S1kS6Ed5HJaxCKN45o1kVwg2TKuPh7ZI7ZrDSq3AuTRqgaYkEefmdvRcyhWuRduoVgNMS0gb5GNztK5p8EYzsf8AQ%2FmaQOZFYn+sXB+opMPPbrkjt5%2F4UxyEJPWNg32PX9a2rqIyDmhYVOVyNuhqN02zUkKSEZQHOO1W9O1NNOd5RbRyy8uEd8%2FAfOqUb4iMfKNiTnvSVQUoLQ4QVW9geCHbKS81C4vJDLPKzse57fSqpJNE0ZHTcUFAAbgKTWhogJGptMYLfpnoQf4VJYaZe6nIY7OEvy7sx2VR6mq99bNZ3JhEodk25l6Z9KgXt1aZyo9owv0A5XofAWsaXwtr82rSiZ%2FeIWiAwP2ZZlYnPfp5V6%2FrvtDvuMoNNvdP4xa0FoQstkj+GZGx85JYM7ZwRgYHpk18uxXd7F8s7b+e%2FwDGtWy4lvbYrzxpIo7bgn71yb3gFlf1xc1AQ8c8Hw2IIXorD4lveH0DbMgsPLb6iF9m8ZcQaVd6Vw5f3PFDWWtQT26wQNGxlJDkrzbDlLKd9sEkZ2Ga9I0yK9sbGx4u0hHl0iaZRLHNIxe2mdljKxhvlTIwPsMDNfBmme0OSzV1iuLyzMq8kngyEKy+RwckemK7rhX29cT8P20VlpnFMgs4jn3VzmJvVozs33GfWvFcS%2F8AHlSrSayxrgwTh4gQeUtEjwMGFtufit925zqjNMgbdeq+yOJBpt3NY8UcD2CSyzk22pwRyeC37PBGGHyPgnDdBy9xsZ+NeEONb23utV4Ce4vFnmZAtxIA1uqBl8OLlPJzEsG3OSAM7ivl7hb2632l6nb3t5ZWmpQhx7xGSAJYs5KjGytucNvgnODXuXDf+2PoFjo2oaaYJ9MdpEks4nhEkRXmHMjuvTK8wzjvXjOIfB%2FxFwbQ61oiqG4mZkE7Eb93kYGNzyXmbu4bWBcN1znC3Cet6ldXFhxhw5ZW1wJGCPHzNO5JyQVBZQ2%2FpjIwDk4n4gseEOB%2FeIrjQ4IzNKZTEtoHcsenMxHzY7sc%2FYV6vxF7XvYtNY3HEHCuradJILOUILeVlmFwTGECoxGE5efOQOgXI7+T8M3tvr+oTyxlLr3gFpY5VDGcZBKn+0PmB8x65qdjxK9uNVxcUXUmjdplpnnvMD3hfPuLuuajnSIpjO5knp4e9lwd%2FrsusXgtNG4W02yRubM72iSMFHU5xyj6YPbevM%2FarpEVtpaW2joyRaQqOqIMckrNlmwNtw2fKvqniLgd9Iitbq3eIRXKeAbWQjnVM5B5u7ZCbE5x3zXlsvs9vuIrLWNRWSC1bnKyCbdJbc5BAU9GwoA3G%2FcEV9E+GrwXtRlShtvE+PP6%2FZci043QoubVJ0tBG%2FWYzz8F8xrok1zbLqNrblfxzQcpwP7Seh9On2rvOE%2FY%2FccYFWN+1nCluzzOYxIEcNhVABHUH9Ca9xh0TQtP0iNbKO3u9ItPgVo18YZHwkZAJDb47Hv61zPEXFPCfCWlXtpokU4a5ZXhtYLkx4BRTzMdmUDJ+EnucY3x9w4ZZ0mkVbiC3mOvyXfHxBWvh2dm0h04O8ec8x4+q85veEP6CjOg37vcpFNzwO0ABaMfMQCSOUbHrnBO3XGbqk7NM09uA6luVf2QAJxnlBx1wOg7V2nsp0+x1XWZtNu4oYnvLeSYGVsDPI7LjJOCWAHWtnWuFdEvCdP0preV7VOc8hDRiQAksBk9enNntXu+CUKtzTcaRDfDM+GV3X8c%2FCubb1wC5oBJjzE8wNoXD6amh6ykEFzZrZXCkFbVlPIXzgrjIIHQgZxvXJ6jxBq9rxE8EbrDEj+E8UcfKGjznDDfP3r2m4j0kWOnniu0RZ7aPEFyww6EIRuwwcDPQ+fSuV4i4asbKWHULqOxv479goJfwmCZPMwK4yQOTqCN%2FM11uI8GumWs0nd6QSRgkeIH2Xe4ZxO94pcOuWM0tAEwd9uQ9Om8LgYta1qeKC9GqXHuSMYzHCOUs%2FUA8uNiPPb4au3+rX1xbpdappMAhbKxz3EKyyAY69Pl37fWtfUOHbKytGs9Gt3itbiQFm5slHHykcx65Oc9+npWbxDqmvSaQsT2wmvIJgkqtESWXlO6nrjoc56Hfoa4VW2dSpPFzUdqjl3gSPPlGREHfovR0eIVbR5o3jnh2IByD%2FI8vRDrMmnjg+4vZIUjvrxY4leHLxSqjAAhgMA8oOx32rzZ%2FwCtc58h+n+ddHqni2ukxWzK8AuJBO8HPlA2CMgdtv41zJYczY6Fjg181+I6hddtYRBa0DGM5MnxM9Aufx6%2F%2FMK7HARpaB5mSSTtkzOw+6KnFCDmiB9a4S4YSNNT9aahNI70ODRUx2qJQEJoaIgmmPlSTSpE03akKEJUqVKhCVKlSoQmpZzT0xFCExpqc01CEqVKlQhV6VSlQe1AUI6b1XCENKlSpIT9elEAKCiU75NSCEajbenpDrRUEpbphkb09KkqsxwooGU0SPyOG8qNzySHHT5t+g9T5+lSRQKN2GTWjZ6PHqkMkcE%2FLepgwxMByyjuAfMDJFXCk6JUS4SsrO3f6d%2F%2FAHNMCc5z179sj+Qp+UqSrAqQcEdx%2FnQ4wcY9P%2F8AP+NVppYyNh5YH8B%2FM0lALcudnUrk%2FofzBpz067Y3Pp3+56ULZG+BzKc7eY%2Fw6UIU8Dc8K+Y2NO65FNBjnlQHYkOv3qQjNMIJVdQebGKkQELg7UiMNmp7e1uLyYQW0TSOx2CinhuSoucAJOygxWxYcOBoRqGruba2I5kX8cv0HYev8auXOm6dw7bRySzrd6g2%2FIoykR8v7R%2FT+NTQWN9q8nvuryPyndYydz9fKqGGpenTb7df4%2Fn5LmvunXA%2F0DDevM+Q+%2Fy6qK3Nzf8A%2FC6ZGLazT8Q6f5msnWNNW0bCKST1Y9TXaQwkgRQRhUGwAGwFTyaRZzpyTxBz511qXDWUmQ3fqnRiiZHvzXmPuz4ydqYwsO9d7c8G2cuTBM8Z8jvWTdcHajECYmSUemxqp1pUbylbW1mlcsUIpiMVo3WmXtqSJbZxj0qg6vndSKzuYW7q4EHZFDdXNsQ0E7oR+62K07fi3VYAFl8OdR151wfzFZIjbyo1gkf5VJ+gqI1DZBg7ro7bjG0Yj3i1lgYn5o2yAP410vD%2FAB%2FqWlTpccO8RtDL2Rzvt5g%2FzrztbGc9Ux9TT%2F0b++6j6Co1abKzdFZocPEKt1JjxDhIX0Zb%2FwC0JfXekJpPFXDMF8I5xPFeWk7RSocYOOo7A7YrUg9rvCi8O2mjabb38qluSeCSQeIwJywJKkNz8xGeXzyV2z8ywy3Nm6JDdyjmIXBbYDNao1eeFiJ4RIP3gMGqLfh9rbf0W6R4LgXHwxYV36wCDM4JifIyPlC9u9oHtElmmhvNELW1ikIgEMcrcqu2CyMAdsKAB65IJrnjwXqGu6SeIdDL3URHNLbMOadCCebOMc2PMdcjODtXCWfEUEgEIuuUHbw5Rt9s%2FwAq6nRuNNS0bU7bVoCym2XkVYwPDYZJOV75ye%2FevUcPvKTCG150%2Ft4qlvCq1gyLSJHXn4fPn%2F0vU%2FZ%2FwhaW8djz6FdaleXQHirOwKQIy%2FEFQ8ucd+Zsbedchx77Q5uB+N7rTuFbW0jltI%2FCmeZPEQFlyeVc7Lg4Oc49K6q%2F9u1pqV1piaVbLboS0F2wUJOiME3Rxvt8fQHopNcZ7SuAdGvNQvuPk1+YaZbtEk8kjq09zM3RkwRlT0z1+EnGMGvZDiQbSa2xeNwCcD1yuXa1aragfxGWioCNLs5nAnaDyAjfmqI9o3EfGayrxCtpeM8IiEE0HKk1zkgIPDAYZXHQ5yw6k109mNDu9G0ng+90iaC88RpZ7W4yZdPLsRyknBVXAUj05Tnz4leA5uKdCsoeG2GJbh2t1Z1PNJglgO+cL8vbb6V2%2FBXFKXDyWGtomp8T2dv4OnSxO0byKH5hAXPU5GFB7kb9j3OH8SbSrilWeCSBnfVzMcwRy69Nl2eGcfp8Ke59mG4MuYRyGM+BzIx54UN5oml2Wk3OleORNbykEyfDzDsATgHY%2FKN6s6BdaZaaHJ7zPExJQCVlAb4QeYfEcHJ6D1Pma5TjAX+pyyXup32pFwG8RJWEqhj1IOV5cH0riNOu9aFvc2doJLqNZA6Fs8zYGPl%2F11r1l3Wte2YalMjUIDm55dN499F9Ef8AFt5xS3a6wDWGIGjMRkHMnzOEXH2tw6vqCSIbdhHztzwfKynGB9sHauIBxWpqiNDNOHgMTMeZkP4S3%2FvWVnNfn34hrPr8UruqROojG2MfZcStWqXDzUq%2FqwD6CPsjB7iiD1HT5rjqtS8wp85qLNOGIpylCkJpv40PNmlmhCffrQ0+53pcppJpvtTVIMDtQmhCbFNiiwfKlynuaEIcUqfFLHlQhNTYp8UqEIcU1HihNCE1KlSoQoQ5FLnPkKGlUUoR8wPUUuVT8poKVKEJyCOopqfJ86WfMURGyaNG86kHxbAZJp7WxmuSGUcqfvH%2FAFvWxb2UcA+Fct3Y9avp27qudgolwCow2Dt8Up5R5DrVgWwUYAGBWgkAPWpltQeorey1a0YVJqLJELCpowyEMrFWU5BBwQfOtRLAN+Gp10odcZqwW5UNYRx6bw5xBZT3+ra8dK1KDlH%2FAEYyJcrg5IwRh9seR289udOjTyxLJZMLg4AaJNnXrsFzk9NyPMV0f9EEggJ+lVZtC5RlVZCOhXp+VU1bMnICk2qOa5eSN435WUqwP4hjBHf6Cg8uUeWAf0%2FxrpbiPUD%2FANKRbxApXLjnOPX8X+FDpnBus8Si%2FueH7Lx1sUM88QkHOiHmyQDjOMAee4rE6k9piFcHAiVz8LcskRGcHMRJ%2FMfxFWSuKa7sjaxhHIFyzqwjBzygf6%2FSth9KFjGl7q6lEfdIc4dvr5D9aoqPbS%2FVuq6tZlIDVudhzPks6006S9YsWEcS%2FNI3Qf4mtgajFbxrpvDtufEYYlmI+J%2Fv2FUY4b7XJsRL4Fqmw2wAPTzrpdO0qGziEVtH1+Zj1b61dRsH3pDquG9Pe%2F7LFWBrEdpt05evVVNP0dbci4uj41wd8nov0rdtNPmuiC2Qvn51csdKJw8o+grahtmKgRxkjtgV6GjbNpt0tEBRVGLTUiUKgG9I2L9cbelbUWmXLkZXFXraxtAU8V%2FnkaFCwwryKAWVSdmIyMgZxkZrT2YkB2JUSQFyj2%2FhI0kmFRRlidgBUSgyxrLbxiWNiQrq4KHHkRnNeh+4WgXBRaxr3hbRZZGmiVraZvmktnMTN9SuM%2FelWs6sf6ZCbKrJ7wXIyWskp5WSFV%2FtAt%2FhQNwvprqJ72FSvUkqFX%2FX3rbu+FbAg+LdahcY%2FwC1vpWH5FsVkz8M6NExf+iYHb9505z+ZrC+yuD+tw9+ivbVZyUBs+CIEZZG0qE%2F2pkDfqc1i3sHB8hPuuqqp%2F8AtxvIP%2FKDWvJaWcP9TZwR%2FwB2MCq0rbnAAHpVP4GN3fT%2FACrBVXHXstrbyFIWlmUfiELL%2FwCoCs+W%2FjP9XDIf72B%2FM128kcUow6K31FZWoaZpapzyDwyxwOUEkn0A3NUVbPSJ1KxtWcQsTTdNn1q4WGFd2PbtWvq3Amv6WVEPJdBsEBTg%2FcHGPoCap2UWq6Rcrf6Qs8cgGVLlcfQqetTy8SapcXRl4oS9vo%2F+yiuPBQ%2FUKu9ZDTLRkFWAycFc5eCe2ke3nTlddmAIODQ2Oo39owW2unQeWcr+R2rY1zWdGvkWPTNFa0VRjlyuP061iooPxYwapyDgqe+61xxI3Py31sDnfniONvoev51oxa1HcQFI7vxkIC+A%2FXGc4Gdx9jXMvEZE5e43FQRdCKn2rgomm04IXq3AnHmmcOTe76la3aQeIZY3jbmMUmCFZc%2FEMZ82JBI71Tlht7LRrrU9Cu2mvAyyNNCx8QAOCOm674267VwMWo3kKeGJi8Y%2FA45l%2FI9KtW2qxRyibEls67q8LHY%2FnkfnXVtOMPt51NDpBEncYiR4+i5T+DUO2NdmC6J6GOo9V1t1rfEN%2FqAXVdamhmvowJHb4wzkbF1Jxk53xuGPl8IyNMvtT0DXop72VZIhIFmeMbch6nAx0G%2FSrcOpJdw8rxwagN90UCUbZJxj9WU9DQ2UmiSu3vl1MZnYcqyt4YbOScsDg423JXOelek4Zxtr3tDbhzHAyNR7o6zuPoOa1WjfwPfpCC2IgAR781kcV3CTanfSRsCjTMoIOQQDsQftWCrZFaGpjJAZSA%2Fxb9x2NZ%2Fh4OVOK8VeVnXVd9Z27iSfUyt2ovJc7co6VMA5OAM%2FSprm1urOTwry2lgfGeWRCpx9DWeYMFKRMKKnBpqVNNGDSzQ04IoQjXJ6naiwOgoB5VIOlMIS+1KnpsVJKEsU2KKlShCHlFMQMdKPHnTUQhR4GcUsVJihI9KSaCmNERvTUkISKVFSoQuxfQOF4wgNo3xnA55mBb75wPoR9xUh4R4auELotxEF2bw5N0PqGzj+FU9VZ%2FBSQZZAc5A6eVV7LXZIJFy5yowrdwPIjuPT8sVqOgGCFDKvPwHokvw2+rTxt%2F8AcCt%2FDFRv7L7915rPVIJO450Kj8xmrUOo2N5zEJ+1OQYlO2R0ZT2Hp%2FCtnhPiP31XtliRLhU+Hm+IGpCnScYhIkhcHfcFcRWB+OyEqj8UThv06%2FpQWmjCMhroczD8HYfWut1nXtZtdQ8C7sFQs2AYyQCPMZyPzBq6BJKCXjhulYnHiLysAO+dx+gG9JlOm10xKCSQuaWA8vwrsPIdKNYcdq6601K0QCJofdwBurICo+rLlamfTdHv4xIPDQtg+JEuVx6YOK2tqtO6qLCuRSP0qxHDk71rvw9MDzW0kUqk7APggds5wKgksbq33mt5EHTJU4P3rSwtdsVU4EbqOGMeVaFvCjEZFVI1I6Vdtzy1qaIVRWhBZxkD%2FCrQ0qOUbgVBbSYGKvRS43Bq0Bp3VZlUZ+F0mBKABvSsS+4W1G2fx7dXDgYDxkq2PLIrsluSBnNJro43NRfQpvwUw9zV5BdcO6lFc+JbmRH5gzF1bOe24roLPgjWtSK3WrSowAHLGXOT9a7lpebcgHeiimAOWasrOFW2vW7KH1HOIPNYcHCWpqFRIIwg6BWGK27DhK6A%2Fbukf03NalvdDrnarXvo6Dauk23otVRc9R22hWdtgu5c1oRm1iHKqCqDXJIwDWLxDxNBotqW5j4zDCgDJH8s%2FWnUr0rdpccBNtN1Qwr3E3FdrpcEtvG8qlV%2FaywpzGLI2GcEKScbnYfUivOdJsp9c1LTpLnVBdm6eQWtrECWB35QxB2GMnBO3Q43FRalqOr2c0dqTqNhfXyFjHchoxLHMq8nKpCtgjJLFmRg3Tzr2kVi15H73psy2mnASXNzpkzCWYOyjDy8rcmST8RjOCQMYxXk7u9ddv1nbkF0KTBSbhb8fH39G6hb6XKs9nawzSJPcSM0qSoueRYx+HO2%2FqD236Cz4vtryytrqSaMG9uTbW8StzSv8RUMVGQoJGMc2e+CN64Wwu7yOx0mxWS01W0a7kuTpmQjnA5laaTHhtnn3ySVClSVzg1Gj0JpbiUtPpOsSah7vELZwltBGxwzFwSCAG6Agcp+bb4ilfV6WGux0%2F7+ybqTHHZepNfxyO8aygvGxRlzurDsarSzK%2FU5rk7G7m4WtLy50OKDXljY+9XU8fIkZdF5CiOcFgMgjDDOOoIp7HirT2n07R9ReawlEZ9+ubxCuG5SwwgJOASFHdgOYgE4roU+LasVB8lSKHRb06xSbECs+exQ55DipIpkuNPg1SOZRDdTtBAJGCySENyhgvdSQRzDIyMZzSYvG3K4II7GtTa9OsO6ZUdJCz5LOVOgyKz1hDTSTsOZgSik%2FhA7fnXQc4NUniWO9BwPDuBuD2cd%2FuP4VCoBIKkNiFmOKryorjDICPUVtT2Ctuh3rPntJFJ2NIgoCxrjSbOf8HKfMVmzaJLE3PD8ajqPMVvyKVO4IqFiRWZ9Gm%2FcKwPcFjjSLhoxNB8aN023+h9azbu0ktpOZ0Kh%2FMd66eOf3WUyEt4T%2FwBYB2P72P4+nngCvSeAPY7qPtKs7q%2Fun9w0e1Kxvd+C0ryynAWKFF3kckgADfLADJIB4XErm34XSNe6dpaOfWdgAMknoMqm+4nbcMoG6u3aWD9zsABkk8gMleEUq9X9rPsQ%2FwDhlqyaTdawq3rxJM+mMyzXtsrJn%2FiFizFEc9FErsVIbAzisvhn2OtxJpB1aT2k8G6RhwjWuoXF0twGIzjkjt3z9RkVlp8Qt61BtywnS7bunP0SpcWta1u26YTodt3XZ9AF56CQQQSCO4rR1TiPW9clFxreozahMsUUCy3LF5FjijEcaBzuFVFVVXOAFAxsK7%2F%2FAOA13MSmn+03ge6k%2FChvLq25j5c1xbxoPuwrlta9mXHGgo095oMs9sr8nvVlIl1Bn%2FvIiy%2FrTp31u52nVB6GWn5OglTp8UtKjtGuD0dLSfIOAJ9FzLHIAGakt7W5urgWsEEjyk4KquSMdc+WK0rRrPSZDzzK14oOXRQ%2FgnyTsX%2FtHZdyMnBEV5qkk6vBbR+727tl0DFnlOc5kc7ue%2FYZ3AGa1Bz3mGDHVaO0e8wwY6n378MTee80rRgYrLmebGGaGQFj2IabGw3IKxgAg7uazl1Qxsxt9NsIlY9DAJf1k5j+tVDgbmm5vJTTbQa39WSky3Y39WT4q6l9bbm40izlJ7%2FtEI+gVgP0qvdJZkq1kJlBHxJIQ3KfRhjP5DHrUXxkdAP1pAP3YfYVYKYBkKwMDTIP1QEEdRSFSBGP4jTiAH8R%2FSiFOUCnPSpAc0vdyOjClyOpyVJ+lEEI3RD6U+KEHben9KkmnxvT96VKhCal9qelQhDTYo6Y0IQEUJFGaYiokIUdKnOPP9KVJC0NN1t41NvcDnQ7EGmuViMhMWQrHb0rLCB1yNu4NTwyuB4chz5Gp6jEFKFu8NgtfktvyjHSo4J5NH1l+UkeDKQcd1P+VDoEgTUDnbmG1HxKng6nHPj4Z4wD%2FeH+VXbNBCjzXVanPDqDWzswYqeb+Q%2F16VAbpkyI9s7D0FY1g8qQpztuVAGf0q%2FGpkYb9OlWatSjCU5YEsJCjZUkg46damt9e0u7vRalHSZtvGT4cnyyOtUNRmUt4an4U6%2FXyrCtstqUZj2xKD+tQLoMBSAXfSTXEJyk6yr1%2FafC35jY%2Fcfep7fX2jbwzK0bnpHIAM%2FQ9D9qzPEaT4FBJqU2sZj5ZyrJ1ZWAI9OtWSeSitcXWn3bD3y2SFj1dVxn8sZpms1H7W1kDxeZ2rEhEkL+HaK86f8AZSnYf3WJz%2FH7VM9y1xkKG5k+aBjgg%2F6%2FOrWXD2bFRNNpWvAQxwrjNWRMsW0jBSa5t9XuwhiVUjLdBGMY+pqzYrbRus9%2FcSTP15WOBWkXx2hVm3HVdFzNyhsMAemQRmmaTBwTUF49xcwc9jdxhSMeEqYwPz%2FlWRHqF5aymG+jPLn5vKrmXgmH4UHUebVstMAetITMvQ7VV8VWUOrZBGQRTCUjvWvV0VMLVhucYGaspc586yI5M1aVj1FGshGkLXitNTv4Lh9LtjO8C8zDmAwD5AkZPoNzXl%2FES62t5dWus6LdrMjlkkIkzCAfi6Y5fhHxZB+XtXo2lcQzcO6g11LHPLZTwmKVIk5irZBV8dSAAw2ydxtXRrqui8T258Ga3vY1UgxnBMZPXb5kP5GuNfl1V2knA2Wmk3uyF4T7hZXs1lb6Ffm%2FDxRi6F%2FHFZxx3LMQEV%2FEZTGAFbnfk7hgAMmm13D+0i2t5ZZ+c2%2FNi2jXJJGdyQQo3DDbbBr1HXfZpoN6fE09X02RWLq0OOUZ7eePrk%2Fz5HU+Cda0qKVo4rfUrUbnm2lJJyx5h%2FF9%2FSuZoI3VzTG6yp743El7fS2aXjJGqCe2UxrH8ODnl5CSCV6gjOM82Tm1YxNfJDpmn6hHe2cKi5uY5yIITLzPyqWyebJOfiUNjmBwNzivBZBxA0k9gwbm8G4X4M7dPwnoOoGavXLXC3E15qWmJq0ZgaC3ZncKi8hVWAR8ggkMMMVyMEFSVMYgYRpgY9%2Fb9kp1tWsZXaK4tZL2fFskZEVmMEDJJBRgd87jAA699m41DW9Rur+C%2FsouIzBZhFZQ3h20YLOeVDjlY5YjlIwA55TkmsezlDXVgthdC%2Fkto8vHdRBY4yDhSNiW2wAGU439DQePbTWLxv49nNd3RaSSNhHaKpyG5UA5MYC4Iwc5G%2FYjCCJC0dHteErrVNOjtLyUeBbtdXSTvyQGZEBAVWHMfiJGPiz1OBnGoeMuKWi0vWuINFhvdFsPGtohaYjWVjnJbqScg7kDJUdcEVkteyXt%2FHcatapqum6dGI44gfDiXI6cvMNgu+EYYyDkHFQ2KSj+iLXTdSlnvo7kSx2E4Y28AyW5d8MANy2Nic+hLGEoHNbWn8R6RqcFlbRAjVb69MXgR5WOGNnwgIfckdSeYjGMnOang0e+vtcuIoNSg1MWB+CKzVu4PxYYAnbPn0JrI4mk8ZuTV+Hoje3OBFNbMr+K56ZIw65xkAgnHoRWlbQ3PC0VlZ8BcTRx6rqMvgzohDyoxOAniqPgIKncBTg7nBOLxc1W85jqoObAOndXGk5GKOpVhsQRgio3dWG9UG1vXNFNloXEGnxm1sLtpNQvogl0Jg7lmIkX+y4wobG4OM10tlFwvxjqupf7oJf2enWzotvJdsJDJnJOQACuNtsmttLiDKhAcN%2FkqoOIyFz00Ebg%2FDVCewI3Teuw1HgriOwUyixNzEPx2%2Fx%2Fp1%2FSufYEEqwwQcEGtZLXCQmlwRwpNxZxZp+glZBFPKDMyoW5IxuzEAghcdT2GT2r7Q1DivRfZTwbHecO2Nst1ZsNJ4YtOVVQ3rIPEuiMYIiR+uCOZ3yMqCPkXg%2FXLfhviCPVpgAyxsqN+6T1P%2Fh5h96m4r9q8uo8UafHdZls9Hs1hRYzygTyftZ5ADtkyOw+gFfOPiHhVXjXHaFKt%2FQpjURyJM%2F4HkSvEcY4NW49x23p1v8Ab0hqI5E5+fIeRMLtfaRa8PcAcPQ67rGpSarxLxGZLsGclmK8xWS5kY9S0gdVG%2FyMTj4c%2FPFxrlxeXbTh2XGSCNsD+VavFXElzxjrN1ezs0807R2dorY+CNAAOnQhVUDz5m7710PDXsx028nd9R1FzbxBUYQMOaSQ4yoPlklduvY16ydXdYIAX0BsMbHILjbfV7xCDFfOD%2Ferd0vjDXLCdbi11CWOVPlkRyrD6MDmvoNf9je54gsdMu+Bb7SXhubRZrz+kYZYTZyk4MfMolMgyGw%2Fw55TsMVU1b%2FYO9o9ratcaLxfwneTICRbe8TW7uf3VaSIIf8AmZa86%2F4r4Jq7J9yyTiCfTM%2Fdeaf8ZfDzndjUumScQfvP3Xmena1wRxrKune0DSfBkc8q6vp0ax3MXXd1GEmH1w3fJO1c97T%2FAGRax7OfdNVhvYNa4d1Uc2naxaA+FMN%2FgYHeOQYOUO4IYdQQMziLQOJOCNeuOG+LNJuNL1S0fEkMy4PoykbEEbggkEbjIr2r%2FZ2uDx3Z8ReybXUF3o2pafJfhG621xGUUSr5Ehhv5onlTv635Vb%2FAJjaumk2C5sy0tO7mdCBmB3SMRJlLiVX8mt%2FzSzdNFsFzJlpad3M%2FtIGQB3XCREkEfNYTJy25%2FhRiJj2rV1PTBpOpXemTOrvaTyQM6fKxVipI9NqBUiPysDXo6YFQBzTgr0rXh7Q5uxVAQ+YoxB6bVe8MDtTFB5VZ2Scqn4fpS8OrRUUJUeVGgBKVX5KcLUxWgIwKIRKBkU9VzQGIdjipaE%2FSokBOVEUYdN6bGOtS0xG1QLVIFR9aVEVFNyntShOU1NT4PlTEgdaSaRxihP1pZpic7UiUkPTbNKmJ3pVFNSsEVcjAx2oEdQ+QMjoRVcR8+ORyfQ9as2kDOwRd6m0kpLQ0thHeRSf2sVs67FFepCrYysgI+ncVQh014GhmLggvuO4xUs03i3HKWICbZ9aubhsFRViABpPhI236%2FYfpWjEqRIZZWwMbb1kC7EDmRcEdMelZ2p65NKPDzgdgKZeGhESi1bUYwzJDnc9+5qPQeQ30TSuFBJPM3QVkczTSDO5rRgHLhh2qkOkypRhdq2p2dnmG0xJJ3c9PtXL63xLMztBZvg5+KQfy8qqzXTRwPJnf5R%2FP9f4VjEkkknJNFWqYgJAKxa3MsVwtwJ3Dhs55utdva3a6rbJIjiO4TZXHUeh8x6VwiW8jjIFXdN1KXT5QJM4%2FlUab9OCmQutW8nlMkLRBLtBnA%2F6weh9fOorPVredikhMbgn4WJzmk06Xtst5burMm4PdT3+3pWZqi212kepWjKZZNpYuhz5%2FpvV5JGUl11vqCxj4GJ8gDV1ru3u15LlQw6c3euG07VRB8F0rBR3AO1dDbaxoajna7OfLBqbXyEoWgVaykBhlEsDncZ3X13q2MH4gQQfKseXiLQshxdvt1UKTUK8XWs95yWtldyIRyhIoub7+da6N0KfdccKmpS1ZC6SJsGrUT7YzWVDfxOgkmhlt1P%2FAGuFP3GdqsWuoWt0SLW4SUDYlDkD7itrazHbFUFjhuFqK2etQXOm2ly4n5CkyfLNGxSRfowwRSRx0JqYSY71YWhwhyiCRsmi1XiPTQFM0WqQj8Fx+zlA9JFGPzUn1q3b8VaRcOI7h5NOuGOAl0OQfZwSp+gOfSqvODUE9vDOpSVAwOxBGQRWSpZtdlmFa2qRutDV9A0zU4mivrFJUO%2FMo5W+u22fU5rl77gQRETcPXpsn5VBi5jyOcY3DEg+ZJIHktWI7S80w50a%2FltVH%2FUn44T%2FAMh2H%2FLipDxLdR%2FDq2mEDP8AXWuXX7r8w+3NXPq2jmmSPkrQWuyCuM1TTtUtGSbiDSkMEO5lt1w0hI2YjIIUEHcADPnRAWWq6jFaaHfNFp8CeL4WoytKqME6ZjjDHddvgwvw5JxmtyfjKS61230rSdStYLU7yzXcZaEkAnBUj08s5NFYpwrxlaNJqOjtZPBK0YnsjgN0JJVuuc9ztWI5eWg59+nJPV3tPP7H6E4XNXVvcSWMmrXthd2dheTvHFPDGy2jsoXKBlHIWwyk5A2K+Yq2dWma3ktEitNQhuVQNILaMyqR+5zg8hz3RlyPyrUvOANZVzPompQazDb5eK3YkS8oGOhAJ5RjBOBsceVVtPs196XWde0qXSrezCRSkRC3E7DAWMYADM2Ms5Gdsk96iQRhyRIAz76La4e4S1q404cQWCrNdEt7lHfSARqnw8zcxOctgqMkAdQd9sHVjd2d%2FPqPEmjXVrfSxiKzeFRGikIRnnixzSHAx12+YnJNdxP7UrS90eYaVYct1GERRlOQEoSSpJCnGMcucnK7dqs8C3uqcTae13ehREjcqty8pchNwQcjAznIPUHyqegbTlIAjJ3Pv5LiLKXUNO4fi0vhjitry%2F4gZl1SBISvhRciEZnDnnXDEMrKOUp611lxxJZ8IXOkcOtw9Jp0l7JFJJd3SLbwyRPIFM6lPhKBVOTgENkH5SKrcU2OhcMG4u9K0KZJQireXdnzrHblt0BK58Mkjm6b8uM7kVzOkahfaXYy61p97b3WoX7i1WGSMNL4b84ZeYApkg4dGGSGHZWqog03GD79Onlt6qBBBkGffMjp4jZet6FxtpmpXeqR6VfM0GmgPJNIwETJjYgk4B+E4UHJz0J2re924f4phSXUtLs7gTxrLHOjHmZWGxDjBxjHfevCrfSFkih4PsbC8sNWupA93drcFYmh38QlFJjdAQOUggg5BzkcvX8O23EmnatZ6he6kq8O8N2jyCdYfD5owpURlSSCTkHbr164rVSuXbkJ6gRPsqv7Y+F+GuDrW3XTdVnmvLkGT3KVQSka9X5x0GSAARk777V47JcNdXM114nxOxkI7jvXSalxVfcX8W3OrXdv4ouT4aIcnwYh0UdsAdfM586saHwRpmt629vJcFURQ3u8dzFbM5PbxZTyr9ldvJT1BcuGg3B5IfUp2zTUqcguTsCEmEuTlelfXXsZ4VseHdCa%2Fu7lE1yWJkEzdbR2X+ri3+EgH436k%2FAMLzGTwie%2F4C0i5t7Phrgix1aOF0MupXt5fMWbIzyFHg5gN%2FiMa5IO2Nz6Jbe0aO+j991OxtLSFQ73UGnRlE8KNWdgFZicsF5SeYfMTkGvF%2FEzry6tG0bcFgdv1I6RO3Uc14z4vq3t%2FaNoWocxrv1bSR0iZjqDE4C+n+HPbDwD7K%2FZlMmtS2sV1eFfB1a7ia6vr1E2WOztUZMxABv2skscYZuYCUs1cLof+0tFxjq8ulaPomvmNmZobq64hsIJGQDO8PuTIpwD8Jduw5u9fOns00bUfb37SLvVeLr6VbC2T3i8WFuXliBxHBHnPIvQDyA8zmvfn1T2e6Ra32jcNcC8MNbafCEkD6NFI8g+IFBdOvj8+F+cSZHMCDXlq3D+DcPqNtuIUDXrADUQAA0E4E4k58o6DC8bc8O4Dweq204lbm4rgAvIADWBxwCcSc45RyaMLzr243Oie06XTdQ%2FpOJEtZZYzeyQGKVLdd3jeJS%2FLIjcmysy%2FtAyn42VJLXjzgf2Nez7WLH2c6JeNrt8Gt7nWtQkUyCMDISNFGF3PpvgnmwMeV6lqGncP8S6kkFypsxqc62yzyZIjRh1P4vlCk9yM42rleJ+KRrVsunWPN4CtzySMMc7ZyAB5dN%2FSvQ0eCNrsp2TS427TIbsCJ1AO6weW08l6u2+H23FOlYtLjatOoNOAQTqAd1g8tp5LKt5WuULyks+fiY7k5705UUVjCRCXYYLHpRyLjbNe7AwvoXkofFdTs23rvTi6xs6%2FlQsKjbNAe4IhWhJG%2FyuDTkVSOBtSE0idG28jUxU6pQrZFCR6VEt4D86fcVIssb%2FACsPpUpB2ShCabGaNhQkUEIQEUxFERTEbVFMIcU1ERQ+lRQCkaYIrMAxwD1PlT0MjcqMSM7H9dqgVJVyxNNQlvKlk+dQUkVKhyfOlQhAgO29dHokMQh96mKszbDB6etc6oO3TFXLG4e2dmGSh6gVawwUiJW5cyQRuXVmOR+9VFJPxE7nc1FJOk6jkY5Y4Ix0pN3Hpim50lRQ3Er+GQpyTWcYSW5nOSavytyqTVPmLNmob7qQRRoqdhmrSZEZPfOP0qFAGOO1S5OykY6n%2FX6UIVS%2FkHwxDfG5NNaWhkxI4+HsPOh8F7q8EMYyScV2djbWGkwrJdKrMvbrQynrJPJImFj2um3d0f8Ah7SST1C7VYn4dlgTxdQEcCjsxBb7AVbvOL5eQx2qBB6Cubvb7UdRb9o7cvqasdoaMZSyU1xeKshttPJjhzuc7n71E%2FworIWznGx2qW2sNi2M46morphylU%2FCV%2FnVJmJKmpEuZrc7tKn9pXJFWItQvfmi1Kb%2FAMQ%2FwqqJ1DBX2z3ppLYH44jyN6dDTkjZC1Ir7VX+XUpR9l%2Fwq7FKjDF7q1857rG%2FKP0rnopZY2w2xHetCGdJVBPzCptcokK9fyWkfhxaZac074Jkcl2X7nOPtWxwrY6heXU8tzM7LDFyqCxwGJH+FZVhdxwSEsoye9dNoeoR2cEzBlHiHJNXUwCZKRWhZXhnjKuR4qbMB+hq0JiNs1yqX7W12t0XyCxVhnqpO%2F671viVWAcPkMMgjuK6tCt2jYO4WWozSVeEud6fxDVRZPImjDk7CtEquFY5uY9aZ4lYYI60KnpUqnIqW6ayb%2FQbO+Xlnt1byJG4+h6j7Vn22l3+hRvHpscc0DOZGjc4YHAGzeWANiPvXT4FJlBrPUtmVMkKTXkLAi121z4N4j2sp2CzDGT6N0P51sNxBcXkTW2qxW+qW78xZLtOckkAA8%2FzHGBgEkDyobmwt7hCksauCMEEZrGl4ektjz6Zcvb4OyfMn%2FhPT7YrDUs3t%2FTlWioDurd1wXwfq0YGj6ld8PykcrwyZlhkXfHxg5LHmIywCgY9al07RONODi2tahEJtPsIn8BtPbxorlmVV2UHHKAAzEco+EDPTGUuo39iQmp2Lso%2F62DLj7r1%2FLNbOi8QyQ5uNG1IqSRzhH2PoynY%2FQisTqWkwcKcSMLiWu7S%2FMl%2F%2FSc89606zCGQAxP8RZgRlXX4jnCZBz2xUtrd84TXuINPuJ7eFktlns2ELcp59zMoLByAQhdWGFxuByn0G4ThTifC8VcOx+KxUNfWA8OYb%2FEzL0c46DKiqZ9kGpanNDc8CcQWWuOjpJDpV0piuQ+TyQqpx4mNyRGeUbZNUvpFyi5odv7+WVV4a0viHTZrJjDFcLrhiFwQo8aOENymMFSAH3yVKhifi7gnT9snEH9F6fbezzTPD95bll1EwgDMhOUi2A5ggIwe%2FwAPTFbmi2l97OOHb%2FjrjTS2sdSjLW1jZ3C8zSXe4Mn9wAHBB6c2CSAT53w7Y3Go3s3FOss0txcu0ic5ySSclz61ooUHPOn35%2FZQGO87lsn0jh3+idJZSqe+T4GW6AnoK6Dh%2FhiSHTeINQiQytpmmCQbZYmW4hgdtu4SZyPI4xTzBHnt7eRSXL+KACAVC%2FiI7jOB9xXZ8BPG15rOlSKWTUtFvECgZLPFH7wgA7kvAuPM1o4hTay1eR+lsT%2FxBBd82zK53FKjmWrn8gQT%2FwAQRq%2F%2FADK8m1b3SysitnMonkXlQYxyevpXNafrNxGz2WoTOqyq0ZcNyhsgqQSQQMqWGemcE7Zrpb2WS6uXnYAB2+XqB%2FoVTvLG0vYuWWPcbgjYis95TFyV0TSa9ulwXR+zDXeIPZTq093daHNqGk6nGIZTbyKrOoOQ8ZP8d1PmR12uNvbNp0sU0PD+lTWEkww0k8kbz7bDAjGBtjDMdsdK8uk4fVcrBOwU9j0NKHQY1OGk39BXAq8At69z+KqiXYnfMbSJhcav8OWN1efjq7ZfiYkAxtImD8ln3Es2oz+PcrnYLGgJPKvl6%2FWtO20+GNVkeM83kegq1Fp9vbnKrk+ZOaN8Deu2ymGCF3hAEN2VUx%2FE3KBj%2FX+FVpR8VW32PNvsMH1%2F1%2FOqsm5PWplSCrOOtRHepX74qMg1Umgb0qNt6lIoGFCEHSmNGRQkd6EJ1lkTYMfpRi5BPxr+VQ1scP8ADz6yt3eTStDY6fH4t1Kq8xUEHAA7k8pH8cDeo1KwotL3HCrq1GUWF7zgKgsiN0YUWK1bzS9BgF0V0%2FX44YiwjmlgUAA%2FIX8s5Xp57etG+0ae0tv6R0+7W9sshTKikFG8nU7qc%2FxHmMwZdsfE4lVsrsfHKevv6KuaAjfao0ut8SDHqKmIrTIdsryIQHzqK4OI8Z6n8%2F8AW1TGq9yd1XyBP+vyqDtlIKClSpVWpJUqVKhCYbGp484J8%2FKmkhDAsux60ykqBtmphIqe3X9tzHsM1KWOcjzAoIMcpb0p8jmH18vSmkgnORUC+lTT7CoU3OKAmFYiG9GTjmIPQAfemXCrk00rFIiT13NJCscPyWFvO8s8wE5PwgjbH1rXkNlctme4ZSfuK40MQQw6g1e8dSOZZNvrTp1IGlIjK25NHRzm3uI3HkdqFdIdTmZkUA+dYyaiYj8LsfpTtrM5Pwgk+tPWxKCti9S5jhFvY2pcd3xtWBchk5xI%2FM5Iz+tXrfWtUjB+FTGAchhWbcS+Mxfl5eZi2Py%2FzqFRwOQpBFzLMoDbHz9aeGZ4zyNvQxLkCpXQk8wG9IdU1J4iuNxTI5jYFTURNIGpIWgs4wCDVu3u5cciuQp7Vkxvync7dqswzqrdaYMJQrd5eGJivMe2a6bh%2FU0uIFt3bJ35P8K4u%2FUzSK4OxG+e1XtBu%2Fd5WRJMlfjU+oq6jWNOpPJRe0ObC79WFSKcd6qRSpLGssZyrDNShz0ztXZB5hY4VpXNSq9VVfzqVWxUg5EK0Gowaro9Sh6kHJQizmgben5hgUxPrTlCikjVxhlzWXeaDZXT+MqGOUdJEJVh9xvWuevWgY43zVbmteIcFIEjZYajXdLYMjpexL2fCvj6jY%2FcfetCPjLSbSAy3sN1DOmwh8Il2PoRlSPvRyvVfw0c%2FEorC+2bPdwrA881U1riniD2kXVl%2FTk14ulaRGUgiuZmfC5zgZ+UbdBsKgl1mZboSQTmCNARGuCRgeYAO5+lXZ7W6vQbSzQBFBeRiQowBk7nbt+e1QycN6lZo0mousUMaeIMqBkMAVPN3GMY7YOazVHdn3GHzKsaNWStDTLxJrszPc+PJPGoLMvJ4bDJMYHfoTkHcAZxjFOvGd5oPE2nappLjn0m6juRndXkRgcHzG2Puawpr1LO0S5RAkjqyWqn5lU%2FNKf7TbAeQA9c4wkbO7dKdV+ugaFTIdM+R5HzVVSgys1zHiWkQR4bLtvaBpdloXFd7aaW2dPmEd7Y5bLC1njWaFWP7wjkUH1BrnDMoBOPyroOOriMadwjbTjF5DoEYugfmHNcTvDn%2FwDYeEj+yVrj2mB6H71z7Co6pbMLzJGJ6wYn1ifVZuGPdUtWF5kjE9dJjV%2F7RI81cMyljmjEsYQHmANZyyb7HNO0oIxnp61rlb4U1xdrHDJKqtIIyA4XquehPpUVhcS6pI8VlaSyyIByooyWycDYepA+9Z8fiRXsrc2VmIiZf3lI%2FwAv0rSTSNX0SWO8t7ia3LMDzxuVPXIO3kQD9qqJef0qLtQEN3UC3MUseYn5h+v3qGQ71RFlcC4jVQ2WYLtsd6tl1ccy7A5OKlJ5qxA30oG222ojtQmoIQEUGCaM9abbtQhAQKEjFGfWhOKEISK1+G+IG0V7q3miE1lqMJt7qIlsFT0b4SNx1G9ZJAoTUKlNtVpY%2FYqFWk2swsfsV6HoEtzp1vJa2s0WsaTcjCyiRnktlXBKmHIPfBwBsx3x0DRZtUvNW1fUeIs2mnvatBNbySsqA8oKLyBsgZXPeuAillgkWWCR43XdWQkEH0IqW61HUL1VW8vricKcqJZWYA+mTXPdw8kugjPOM%2FxPj6wuY%2FhpcXQR3tzGfMcpwM46x1qOF5iEyRnbPlV1VwoXPQVWhTmkUVcPWuqwQus5RsKp3DZlYeW35VdOMjmOB3rNduZixPU5qFXom0J6VCDiiqtu6klSpUqkhTq4YZU7GgkOFP5VXSQx7jfNSSOGjJxgk1IOEIhXIMi3BPck06NkgfU0J+CJV8lpo2BbI7L%2FABpqKG5ODUdv5+Zprx8MForTJwfKiU+SssDyYHqfrtUcxIg3HQYqY9QD5b%2FpUFwc24J7rmhILPHlSIwcU1Od96o3Ckmoo3KMGFDTkEDegdUK1I7unz4TuRVZ+vTHkPIVLFgoWbJI8zUTnLE1N2RKFND2qxnIqvEPhzUwGVzUxshA1Dk0bLnfNAQQKEIgcioizI2xO1Ejb4NPIvcd6RyEwp4J1kHI+4IwaOOOawulVgcHGCO4NZ4LRtkVs6ffQzwi1ugBy%2FI3df8AKm0ykV1Og3LPG9tI3ynK5HQ9x%2FryNawbfFc1Ekkdyl9AQ4UKXUd8bEjz+nlXUSWsqxi4jZJIWPKJI3DpnuvMMjPp1FdW3qS3Sdws1RsGUSnvUoOarJkdRU6k4rSCq1Mp7VIG261ADRhqYchT8xxT5FQg0SmpByEdCyhtjRZ2pYztTlCqzQAEkE1WbmwcdcVp8ooGiRuq%2FlUC3omCtnROD+OI%2FZ4%2FHMUVrqIguTA9ppxMl5FCFYtPJGgPKgxjJwcEHoa46+1463bc1zI%2Fu0f7S4yBgjblTfcsT16YGBvzbaKi7sr1NR0jVtQ028j+S4s7l4nX8jVK%2FwDabr0MklhLb6BqKiQtJPdaDZySyyHqzyNGWds5yxOTXmex4hZ1HuqFtRhJLd2kDkDgzHXErn0jxOm9+otqNJlu7C0f27OBjrI8lyF5eyX1y9xL+LZVzso7AV12jcErpttBxN7QfG0rR3Xxbe2Ycl5qYxkLbxtvyHoZmHhrvuzYQ1x7VeKYGEmkpo2kTKMLcaZo1pa3Cf3Zo4xIv2YVzN%2FqV%2Fql3Lf6leT3dzOxeWaeQyO7dyzHcn61U%2F8AG3PddDAdyCXO9MADz73lzVrmX1yOzdFNvMglzvIYaGnx73lzV7iPiC74k1m51m8SON7ggJFGMRwxqoSOJB+4iKqLnsorK5%2FsKFjQnPatjGNosFNggAQB4BdGlSZQY2nTENAgDwGymEmB1pvE2qHmxtS5s96lKmrFo6TXkdq0KEtIkviHOVC82w+uR+Ve1Dhe61jhuO5tLF5FiTLyYwoHQkk7YHfyrwm1kK6mjlsYIr1nhnj+54eIaMh4ZFEcg%2FGq5BJQ5+Fthv6VVXfXbRc62ALuh5%2Fssd+bhlIutQC8cjz69FpxezOWXT7u4MK89mCWZGDgEeoJBrxmSMwSPCwIMbMhH0OK+sfYzr9jq3Duuf01cIXeCSVywGWZgcn8zXyvrTIdYvmi+Q3EmPpzGttVsUmOO%2FOFdQL4h+%2FONpVMn0pifOmyO1Mc1mVyWKY5FLNMTQhMfUUNEaEg0ITHahwfOiPqaE0IQ0iBSpUIU1omWZ8dNqncUrVOWHJ6tvTv9KuaICiVBcMUhkcAHCnP32%2FnWSST3rQ1BlEIXJ5mYYHYjv8AyrOrNVPeVjdlIpyKkB2qAHFSKSahupI6VNzGlSykohvjNSgcwRR3bFRIMnl86m+WWIY6EGpt2TnCs3HxHGcCijXl5unQCjFsXPiE5ppcRoxJ2FWKKoXLc0x9Nqs2g+HA%2FOqLEsxPma0LUYQCoNMkoUrnDHfoBUV1%2FVfQUUhBL%2F3gKinbMPTbFTSVGnztimpVQDCklRHcbUNPRshHE2AR96A9aeM%2FEPWnGPEHN0zvT3AQtmwtbC1Ftda14ogmOVSNOZioyCxHMu2QRgMCcNuMb9w3+4Fm2k3UsMllDb3i3JaRj4moWRZXEcioAySBSV5gnI2NmPU0baJTdW1lFZLeG6n06NrbxGAmQxxYVhyYHNzkcyupHiEHqKxND0ReI9Xku9d1aFIHBlnuDOuVYjuuc4G5IA6LjbrXPqkV+89xAA5Hr4e%2FDO3CrEXU1Kji0N6HeRyHXcZnqBO3TWWp+y24e4utViuZZZ5TOlusjEREIoEaO4C+GztKxyAyhYgGPxZ5az4U1HUbV5hbxLMJUhgiilDS3JJILqoJDIDgFgQoztnBFdppnB9poOpm40vULSaC7gS4sr26tnCqpz0V0+LYHPKfh3BJI2420vn0biR7DUtXN1Z3Mym6niJkKlwCZlBI%2FapzHvuQVJKkg10Hfq%2FDuJwDmTtyA5fufqq7Z8l4tXE4B70nbkBiOhnJ+qwLq1mtGUuMq45kdflYeYP5%2FQ5BwQQEhEi4NdpqdlFqOnXKSRxLOLVpREhiQRTW%2FIjqiKzEKUDElgCxRfLfh42Mb4OcHpXSoVe0ErsWtx+IZPMJMmMg0AyjZU1ZkUN8QqIxfiH1xVxC1K5Z6rdWTAxueXuDW1aald+KmoaDM1tdKoWeJSOWVQwYAqfhcZAypBBwNjWFFB4kfwDcVb0uy1Froe5xEsPyqYk4SXU6fxnY3CiLWLEwyAYE9qMqxCn542PUtjLKQAM4Q9K6NLdZ4Gu9PuYry2U4M0Byo3IHMDhkzjYOFPpXL6lwvdXtot7ZQIL1AfFhDACUDqR5N%2FH69ec0%2FVLixuhNZ3U9ndxHAZGKOp7jIq8XFSiYfkKssa7Zej5IO4xTg+tc%2FZcbiTEet2Ift7xaqqP902Ru3Tl7kkk1vWr2upRNPpN3HdIil3CEiSMDlyWQ%2FEAC6jmxyk7AmtlO4ZVwDlVlhapA1Gpx61DgjY0YbvV6gpw2dziiz2qENiiDds05RClB9KTA42oQ1GG2xUpShVlthdSe6Pdra+MfD8dgSIs7c5xvgZycb151fWN5pt29lfW7wzRHDI38QehHkRsR0r0xlVjjFRTBpIPdZo4rm33xDcJzqOvy9077qQa515QrOIfSz4HHyPXwPhkc4OdVpu1MyOm3qD9j8xz8xB9aIEY61115wlpd27NYXJ0+Q9I5+aSEnyDqOZc9sggd2GK53UdD1XS0WW8tHELnlSdMPE58ldcqT6A1zu1AdoeNLuhx8uR9CVZTuqb3aDh3Q4PpyPoSqZwdhTE9qbPnTE%2FWrFoTnBpsd80t+tI9MZoQoJEdX8VBkirCaswUKWIx2O1BnFMSCdxQJGye66jSuPLvSdNntbFmMk6chwfhwfM1zLMzEsxyxJJPmT1ND2pZFSLi7BSAhPTE560iaHORUUJE4piaRps0ITk0xPnTZPamNCE5x2NBkU5oaEJUsZIA70qktl551H3pgSYQr%2FLyoFHYYqJ+9TMdqieryorN1JjzRx7YALDzyTj+QqlU96wa5fHY8v3AwagrC4ySValUidKjokbBwaQQpKVKlUkKIEg5FGjlpULb7gUJGwNKM4kU+opDBhC0mnEAALfaqd1cNKAvQdTTyqzuzZ2OF6+dQzHMhx0G1TcTCEKjLAedacIxVG3TL8xPSry%2FChPpTYICFGDzK3f9pUcilbcZORilbNlD3+OmuGAhVR1PWgnEoVSlSpVShKlTqMnFE0TKObtTg7oQg4Oad%2FmNDRHcA%2FajkhdLpWuW93YjS9RYLII%2FASVy3humSVDgMoLrk8jMcDYHAAKjrNhFf3xngje3mubjw41k5S0+ccrlEyQWz1UFCTtjpXOqdu9W7K%2FvLORXtLl4zG3MuN+Vv3gDsD69ar7Ig6mFZTbFjzUpGCulueIeJJbe10zXNKhvrbThDEFkQFlj3ZVDfh5lzvjcVfh4XbV+Jjq2i6GGsvDS4tLSQLGlwyKodTkgFA%2FNz8pzgMdhllx3474iNm1i8ts0MoCygwA+LhI0Xn7NgRR4yNiuRuWJgueMNfvZJJ7i9DzS3JuzIQdpSQSwXPKD8I7dh5CqOwrf%2FABu%2FMxmOWFi%2FDXA%2Fpta2ZGCYzGYx894+l241Waw0l45pLhZZ7Y20cVwiB1d2zPICBkpgMg5v32x8prmV5Wblb6ihuJ5rmcyTzPLI2OZnYknHSiAIkAB7VrpUxTBXRo0RRB6nKIMVNWIEhmOC4BNVpMAEk1B4pByu1Wl0bq5bccIspVDSKyt0I866vSJ4o0yoGTvttXAw3rY8KTJDdxWvp2stasEdhkbGrWPCRC9AilYSo7ZGDXHceaMPeV1izi%2Fr25J1Ufj7N9+%2FqPWr78QW5s5JVuA0irzcpOCfSszTuJ7y6v7W3ulAVp0VyVGAvMNz6D6VZUc1zdJSAK51Jp4PgJLAdVardrfeHMk0MrwTxsHjZWKsrA5BBHQg969Wn4I0nXRyzxxwTNgKY8DB8ziuJ419m+r8HW639yolsZTiOUbZPYEfY%2FlWd1ItykHg4Vmw41u4wItYt1vVAwJlISYbHBJxh9zk8w5jgDmFdJp91p+sbaTdiaQ5PgMOSYf8n4ttzylgPOvIobuaHYNzL5NvV2K+glIDfs29en51OldPp43CbmBy9TIYHBpwa5PT+NNUtuWLUlXUYc7mVsTYyScSdSf7wbG2BXR6frGj6sFWzuhHORg28%2FwNnAzyn5W+IkAA8xxnlFdClcsqYOCqjTI2VxfMUeWG9BJFLA7RyIyOpwVIwQfKh5yO9aJValDDak3LjY1CHJPWn5s96JQk4B64oEMluztbSmPxByyKN1kXf4WU7MNzsQRvRcwzTGo1KbKrdDwCOhUXsbUbpcJCzb3RdE1HPvFo1hMT%2FX2i5QnbdoicefyFRv0rDv+C9Xtke40%2Fk1S2QFmktMsUUd3QgOv1Ix611bDrmgAeGVZoJHilQ5V42KsvbYjcVzqnDi3Nu6PA5H8j5wOip7KpS%2Fou9DkfyPnA6LzncGhJJr0q+ks9ZYvxFpcd9I3W6hbwLn7uAVb1Lqx9awrvgRbog8N6tHeM2P+FugttcA5OwyxR+3R+Y5+UVifUfQ%2F3DdPju358v8A2AUhein%2FALhunx3b8+Q%2F5Bq5Kmyc4NTXtle6fcNaahZz2s6Y5o5oyjDPTIO9QferQ4OEjZbWuDhqaZCWTmmyfPenpiKaaWc03QU3oKYmhCfNNmmzmln1oQnz+lDn1pbUiaEJHemzS+1CTQmAnPnVqwUks57bCqhP51oWa8kCk%2FiOalTy5BwFK1RMRnfp3o2PrVa6k5YJG%2FskfXO386se6BKiAsl3aR2djksST9aGlSrCrEqVKlQhEG+tKhpVKU5RqAVwaEbMPQ0SdKZ%2FmNM7Sjkp3lCnbtv9z0qt1o36n60I60iZKSs2yADPerMuRA+B2qG2+UVYl%2F6O%2FwDd%2FlVuwQVStyeQgdiDQz5AAJHU0UHQ%2FSgn+eoH9KFFSpUqrQnBIORTs7N1NDSolCVP2+lNTjv9KYQkuSdqlG1Rp81S9x9P51JuyalH7RMjr0NAQY809t8z%2FWin+SrNxKFHAnOS5%2FLvSk+GVT2orT+sP0FNd9B9aiP0ykhuGJOPOp7e3CAM4yT+lQSfMn1FX4%2F6wf3hTjMoTtYtIvMsJ9CKzrgFZSp%2FDsa6U%2F8ARh9DXLv1f+9RUEQgFSRleo61o6XqEcVwPEiDcvQnqPWsuH5xUlv%2FAFxpNchet8Fa6813HYyykqAWgOdxjcr+WSPp9Kpe3Pi+XUbiw4Vhn5oNPTxZQuwMjdMjpkDfP9qsvgj%2FAPFtP%2F74%2FwDoNc7x7%2F8AN2pf97%2FIVdVd3FXpGtc%2FSpUqyKxSw3M0B+BtvI9K0IdQt5cLKPDbz7VlUqcoXc6XxVq2nLHC8i3tqoAWKcluVfJG6qNzsDjJzg10ljr2h6oMLcCxuOpiunAXoSeWTZT0%2FFynJAAJrzrSP+jt%2FwB5%2FhU56L9T%2FKtFOu+ngHCiWh269NntZ7ZzHPE8bjqrDBFQHbtVvh%2F%2FAPL3R%2F8Avrr%2FANYqrN8zfWupTf2jA7qqHN0mEOR2pFjQjr96Q+X71ZKin5u+aEnemPzGk386JQm5sHegkRXG4Bp%2F8DS86RQpo9SmSJLS%2Fgg1OyX%2FAOlvVLoB%2FZbIZDud1I61Q1DhfhHV8yaNeS6Fdt%2F9NeMZbUnyWYDnT%2FnU9fmqc9qrT%2FKa5tbhtJx10iWO%2FwDrsfMbHzifFZHWbQ7XRJYfDY+bTLT5xPiuZ1nhTX9BjS41LTnW2l2juYyJIJNs%2FDIuVO3YHNY5Ne6ezj%2F5J4+%2F%2FTW%2F%2FjevC%2FxfeuVaXT6tetb1AJpkCRiZE7Zj5lR4df1LmtXt6gE0iBIxMtB2zG8blKh23ovxfehPU1vXVTU1OetNQhKkaXekf5UITE7UJz50RoT832pFSCWCzADvWqAEULjoMVmQ%2FwBcn96tM9Kspc1FyjY1S1B8QhP3m6+g%2FwDcVcbt9ao6l8sX1b+VKse6hoVClSpVlU0qVKlQhKlSpUIX%2F9k=%22 width=%22100%25%22 height=%22100%25%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M579.5 647.5Q330 795 330 500t249.5-147.5q249.5 147.5 0 295Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  
  



  /* contact form */
  .contact{
     height: 100%;
     background-color: #121212;
     padding: 30px;
     border-radius: 2rem;
     margin-top: 30px;
     
  }

  .contact input{
    width: 100%;
    height: 40px;
    border-radius: 3rem;
    outline: none;
    border: none;
    margin-top: 30px;
    padding-left: 8px;
  }

  .contact textarea{
    width: 100%;
    height: 100px;
    border-radius: 2rem;
    margin-top: 30px;
    padding-left: 8px;
    outline: none;
  }
  .contact button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    outline: none;
    border-radius: 2rem;
    background-color: #f9b234;
    border: none;
    font-weight: bold;
    letter-spacing: 3px;

  }

  .toggle-dark{
  background-color: #131313;
}

[data-theme="dark"]{
  background-color: #1f1f1f;
  color: white;
  transition: 0.8s ease;
  
}
[data-theme="light"]{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.8s ease;
  
}

[text-theme="dark2"]{
  color: #000000;
  transition: 0.8s ease;

  
}

[text-theme="light2"]{
  color: #ffffff;
  transition: 0.8s ease;
  
}

[text-theme2='light3']{
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #0f0f0f;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: -1px -1px 3px #020202, 
      2px 2px 4px #1b1b1b;
      transition: 0.8s ease;
}
[text-theme2='dark3']{
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: -1px -1px 3px #020202, 
      2px 2px 4px #1b1b1b;

      transition: 0.8s ease;

}

[shadow-theme='dark4']{
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;

          transition: 0.8s ease;
}

/* timeline */
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background-color: #121212;
 
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.root-part{
  position: relative;
}
.socialmedia{
  width: 50px;
  height: 250px;
  background-color: transparent;
  position: fixed;
  right: 0;
  top: 190px;
  z-index: 2;
}
.socialmedia .pics{
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.socialmedia .pics img{
  width: 40px;
  height: 40px;
 border-radius: 50%;
}
.socialmedia .row .media-name{
  width: 100px;
  height: 40px;
  background-color: #F27121;
}



.head-comp{
  font-size: 2rem;
  font-weight: bold;
}

.viewmore, .download{
  width: 150px;
  height: 40px;
  background-color: #000000;
  color: white;
  border: none;
  margin-top: 50px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media screen and (max-width: 501px) {
    .top-part .top-part-1-2{
      width: 200px;
      height: 300px;
      position: absolute;
      top: 150px;
      left: 140px;
    }
    .project{
      height: 250px;
      margin-top: 40px;
    }
    .project img{
      height: 200px;
    }
    .project .proj-name{
      height: 200px;
    }
    .carousel-skill img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .skill-part{
      height: 100px;
    }
    .detail-part-1{
      padding-top: 80px;
    }
    .top-part-1-3{
      width: 150px;
      height: 150px;
      top: 100px;
    }
   
}
